.descriptionContainer {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  padding: 5px;
  margin: 50px 0px 50px 0px;
  font-family: "Rubik", sans-serif;
  color: rgba(54, 45, 89, 1);
  @media (max-width: 900px) {
    margin-top: 120px;
  }
  .text {
    padding: 35px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 30px;
    @media (max-width: 900px) {
      flex-direction: column;
      padding: 0;
    }
    .title {
      width: 30%;
      @media (max-width: 900px) {
        width: 100%;
      }

      span {
        color: #e1567c;
        letter-spacing: 2px;
        font-weight: 500;
      }
      h1 {
        font-weight: 800;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    p {
      width: 40%;
      font-weight: 300;
      @media (max-width: 900px) {
        width: 100%;
      }
      @media (min-width: 1300px) {
        font-size: 20px;
      }
    }
  }
  .infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 15%;
    @media (min-width: 1300px) {
      margin-top: 10%;
      margin-bottom: 10%;
    }

    .info1 {
      border-radius: 10px;
      padding-top: 56px;
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 70px;
      width: 350px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      margin-left: 25px;
      margin-right: 25px;
      background: rgb(54, 45, 89);
      background: linear-gradient(
        11deg,
        rgba(54, 45, 89, 1) 65%,
        rgba(225, 86, 124, 1) 100%
      );

      color: white;
      box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
      transform: translateY(-50px);
      @media (max-width: 900px) {
        transform: translateY(0px);
        width: 100%;
      }
      @media (min-width: 1300px) {
        width: 30%;
        height: 550px;
      }

      .img1 {
        position: absolute;
        z-index: -10;
      }
      .img2 {
        position: absolute;
        bottom: 250px;
        z-index: -10;
        right: 0;
      }
      .img3 {
        position: absolute;
        bottom: -180px;
        z-index: -10;
        right: -100px;
        animation: move 1.5s infinite alternate;
        @media (max-width: 900px) {
          right: -120px;
          bottom: -130px;
        }
        .infoSvg {
          @media (min-width: 1300px) {
            width: 450px;
            height: 450px;
          }
        }
      }
    }
    .header {
      .icon {
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 20px;
        // @media (max-width: 900px) {
        //   display: none;
        // }
      }
      span {
        font-weight: 500;
        font-size: 23px;
        @media (min-width: 1300px) {
          font-size: 30px;
        }
      }
    }
    p {
      font-weight: 300;
      margin-top: 20px;
      font-size: 20px;
      padding: 10px;
      @media (min-width: 1300px) {
        font-size: 25px;
      }
    }

    .info {
      border-radius: 10px;
      padding-top: 56px;
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 70px;
      width: 350px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      box-shadow: rgba(133, 66, 189, 0.1) 0px 10px 30px 0px;
      @media (max-width: 900px) {
        width: 100%;
      }
      @media (min-width: 1300px) {
        width: 30%;
        height: 550px;
      }
      .header {
        .icon {
          border-radius: 10px;
          padding: 5px;
          margin-bottom: 20px;
          // @media (max-width: 900px) {
          //   display: none;
          // }
        }
        span {
          font-weight: 500;
          font-size: 23px;
          @media (min-width: 1300px) {
            font-size: 30px;
          }
        }
      }
      p {
        font-weight: 300;
        margin-top: 20px;
        font-size: 20px;
        padding: 10px;
        @media (min-width: 1300px) {
          font-size: 25px;
        }
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
