.container {
  margin-top: 50px;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  h1 {
    font-weight: 800;
    color: #e1567c;
    margin-bottom: 5px;
  }
  @media (max-width: 900px) {
    text-align: center;
  }
  .technologies {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 100px;
      height: 100px;
      margin: 50px;
    }
  }
}
