.header {
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  @media (max-width: 900px) {
    display: none;
  }
  .menu {
    margin-left: 5%;

    ul {
      display: flex;
      list-style: none;
      .active {
        color: black;
        font-weight: 500;
        &::after {
          display: block;
          content: "";
          border-bottom: solid 5px #e1567c;
          width: 50%;
          transition: transform 250ms ease-in-out;
          border-radius: 10px;
          margin-top: 1px;
          transition: width 0.3s;
        }
      }
      .active:hover::after {
        width: 100%;
      }
      li {
        color: #acacac;
        margin: 10px 20px;
        font-weight: 400;
        cursor: pointer;
        &::after {
          display: block;
          content: "";
          border-bottom: solid 5px #e1567c;
          width: 0%;
          transition: transform 250ms ease-in-out;
          border-radius: 10px;
          margin-top: 1px;
          transition: width 0.3s;
        }
      }
      li:hover::after {
        color: black;
        width: 100%;
      }
    }
  }
}
.social {
  display: flex;
  .icon {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 300px;
    cursor: pointer;
    transition: all 0.1s ease;
    font-size: 18px;
    font-weight: 700;
    &:hover {
      background-color: #f6f6f8;
      color: #e1567c;
      font-weight: bolder;
    }
  }
}
