.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 45px;
  font-family: "Rubik", sans-serif;
  width: 100%;
  background: rgb(54, 45, 89);
  background: linear-gradient(
    90deg,
    rgba(54, 45, 89, 1) 61%,
    rgba(225, 86, 124, 1) 100%
  );
  box-shadow: rgba(76, 76, 75, 0.1) 0px 2px 4px 0px;
  color: white;
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  margin-top: 40px;
  @media (max-width: 900px) {
    margin-top: 50px;
  }
}
.headerText {
  line-height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  @media (max-width: 900px) {
    width: 100%;
  }
  .agency {
    color: #e1567c;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
  }
  .slogan {
    font-size: 5vw;
    line-height: 5vw;
    font-weight: 800;
    margin-bottom: 10px;
    @media (max-width: 900px) {
      font-size: 35px;
      line-height: 40px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    color: #e1567c;
    justify-content: center;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 70px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0 10px;
    span {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 1.2vw;
      margin-left: 5px;
      margin-top: 5px;
    }
    @media (max-width: 900px) {
      padding: 1px 8px;
      span {
        font-size: 15px;
      }
    }
  }
  .description {
    font-weight: 300;
    line-height: 2vw;
    width: 80%;
    @media (max-width: 900px) {
      margin-top: 10px;
      margin-bottom: 20px;
      line-height: 20px;
    }
  }
}
