.header {
  display: flex;
  padding: 10px 35px;
  font-family: "Rubik", sans-serif;
  width: 100%;
  height: 30vh;
  background: rgb(54, 45, 89);
  background: linear-gradient(
    90deg,
    rgba(54, 45, 89, 1) 61%,
    rgba(225, 86, 124, 1) 100%
  );
  box-shadow: rgba(76, 76, 75, 0.1) 0px 2px 4px 0px;
  color: white;
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  margin-top: 40px;
  .text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin-bottom: 15px;
      color: #e1567c;
    }
    span {
      font-weight: 300;
    }
  }
}
.p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  color: rgba(54, 45, 89, 1);
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
